/*crée la bannière principal et met le style de l'écriture*/
.banniere {
    background-color: #ffffff; 
    color: rgb(7, 5, 5);
    padding: 20px;
    border-radius: 20px;    
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    height: auto;
    border: 2px solid black;
}
/*titre bannière principale*/
.banniere h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: URW Chancery L, cursive;
}
/*texte bannière principale*/
.banniere p {
    font-size: 18px;
    line-height: 2.3;
}

/*contour bannière*/
.bannieres-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 55px auto;
    width: 84%;
}
/*création bannières secondaires*/
.mini-banniere {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 30%;
    border: 2px solid black;   
}

/*forme img mini bannières*/
.mini-banniere img {
    max-width: 100%;
    border-radius: 20px;
    display inline-size: 40px;
    width: 110px;
    height: 110px;
}

/*titre mini bannières*/
.mini-banniere h3 {
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    style {background-color: #d7232e;} 

}

/*texte mini bannières*/
.mini-banniere p {
    font-size: 16px;
    margin-top: 5px;
}