/* Résoue un probleme d'affichage*/
.vente {
    background-color: #ffffff00;
    margin: auto;
    width: 75%;
}

/*Produit phare*/
.phare {
    width: 98%;
    height: 30%;
    border-radius: 50px;
    margin: 1%;
    padding: 0px;
    box-shadow: 5px 5px 5px #79766e;
    border: 1px solid #79766e;
}

/*Produit Crocodile*/
.cro {
    width: 20%;
    height: 10%;
    border-radius: 50px;
    margin: 1%;
    padding: 0px;
    box-shadow: 5px 5px 5px #79766e;
    border:1px #79766e;
    margin-left: 6%;
}

/*Produit Coeur*/
.coeur {
    width: 20%;
    height: 10%;
    border-radius: 50px;
    margin: 1%;
    padding: 0px;
    box-shadow: 5px 5px 5px #79766e;
    border:1px #79766e;
}

/*Produit Mixt*/
.mix {
    width: 20%;
    height: 10%;
    border-radius: 50px;
    margin: 1%;
    padding: 0px;
    box-shadow: 5px 5px 5px #79766e;
    border:1px #79766e;
}

/*Produit Ball*/
.ball {
    width: 20%;
    height: 10%;
    border-radius: 50px;
    margin: 1%;
    padding: 0px;
    box-shadow: 5px 5px 5px #79766e;
    border:1px #79766e;
}
