* {
    box-sizing:content-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: #ffbf00;
    order: 1;
}

img {
    width: 70px;
    height: 70px;
}

.logo {
    cursor: pointer;
    margin-left: 6px 0%;
    float: left;
}

head {
    background-color: #ffbf00;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:  #ffbf00;
    width: 100%;
}

nav {
    order: 1;
    width: 100%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0,3s ease 0s;
    border-color:  #ffbf00;
}

.nav_links li a:hover {
   color: rgb(194, 16, 16); 
}

.cta {
    order: 2;
    margin-right: 30px;
    position: relative;
}

button {
    padding: 9px 25px;
    background-color: #d7232e;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
}

button:hover {
    background-color: #ffbf00;
}

ul {
    background-color: #ffbf00;
}

footer {
    background-color: #ffbf00;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed; /* Position fixe pour rester en bas */
    bottom: 0; /* Aligne le footer en bas de la page */
    height: 10px;
}

footer p {
    margin: 0; 
    font-size: 14px; 
}

html {
    background-image: url("image/background.jpg");
}